Day4/Section 2 - Sales Data Pipeline
{
  "name": "Section 2 - Sales Data Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "16db1273-5495-459e-b71e-5ba965c21ea4",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "9627a36c-d505-46c2-a4e1-aea814e1e8a4",
      "name": "GetSalesData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YlkJMNV5icfVfdvU",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "2f56eede-2442-417f-9661-3d19baa588f7",
      "name": "SplitOrders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b022708e-982e-4947-a79f-b6a05ae3756f",
              "name": "order_id",
              "value": "={{ $json.order_id }}",
              "type": "string"
            },
            {
              "id": "1e6d1e9c-b3fe-436d-b9b3-f3634c52ebc1",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "a3077439-bd5c-450e-8ea1-f2f35b73499c",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "8f8cb4db-ff48-4f07-9c3c-201377714483",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "5d28c8b4-3a34-4cbc-a3b6-862e5ee3383a",
              "name": "order_total",
              "value": "={{ $json.quantity * $json.unit_price }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "4f4b0393-99d6-4eee-a116-4991a4869ea8",
      "name": "SetOrderTotals"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        144
      ],
      "id": "3217e85e-1e4e-4723-b662-1c52dafec1a8",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orders",
              "value": "={{ $json.orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        144
      ],
      "id": "1040709f-ac2a-4ca6-8c3a-0202053dc310",
      "name": "SendOrders",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YlkJMNV5icfVfdvU",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5401b984-b7c6-447b-9de6-20f33a0b227b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -160
      ],
      "id": "03d72033-6f94-4c4e-819d-ad6bf5ada823",
      "name": "FilterDelivered"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "order_total"
            },
            {
              "field": "order_total"
            },
            {
              "aggregation": "average",
              "field": "order_total"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1248,
        -176
      ],
      "id": "9eb61921-45ff-4987-be61-7bc612552b60",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sum_order_total",
              "newKey": "order_totals"
            },
            {
              "currentKey": "count_order_total",
              "newKey": "order_count"
            },
            {
              "currentKey": "average_order_total",
              "newKey": "average_order_total"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1440,
        -176
      ],
      "id": "d5c79a83-7faa-4afd-b40e-4e51124e04a3",
      "name": "UpdateFieldNames"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "regions",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1648,
        -176
      ],
      "id": "2773c223-ee3d-41c2-bb84-61dc65d589b3",
      "name": "AggregateRegions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "={{ $json.regions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        -176
      ],
      "id": "eb0b3d2b-b0a1-4d8e-a056-0aaf4baa738c",
      "name": "SendAnalysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YlkJMNV5icfVfdvU",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bdfe604-149e-4e83-af1e-0dd2bf55a570",
              "name": "report_generated",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "800e2bdf-728e-4f0d-9715-e90877f101ea",
              "name": "assessment_id",
              "value": "61ab6b7329aa7d731ad0e7a5be993893",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        0
      ],
      "id": "845fbdfe-30e7-4b74-a016-19692aaac549",
      "name": "SetReportMetadata"
    },
    {
      "parameters": {
        "binaryPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1872,
        0
      ],
      "id": "8e7bb57a-8390-42de-9e2b-b9b6c9ad262c",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/send-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2048,
        0
      ],
      "id": "0ca0afef-d380-4af0-82ba-6d9d2a49303d",
      "name": "SendReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YlkJMNV5icfVfdvU",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        976,
        -16
      ],
      "id": "d7e1925e-1bcb-4c33-aa2d-b1280bb478e5",
      "name": "IgnoreNonDelivered"
    },
    {
      "parameters": {
        "content": "Academy Section 2 Sales Data Pipeline\nCreated by: Anshul Ahluwalia\nDate: 30/06/2026\nThis workflow creates the sales data pipeline including 3 branches for sending different reports and details to the data warehouse.\nPart of: n8n Foundations Course, Section 2",
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -400
      ],
      "id": "bf2b0f6a-d53d-46a1-adb4-93dbd49e16b9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetSalesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSalesData": {
      "main": [
        [
          {
            "node": "SplitOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOrders": {
      "main": [
        [
          {
            "node": "SetOrderTotals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals": {
      "main": [
        [
          {
            "node": "FilterDelivered",
            "type": "main",
            "index": 0
          },
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendOrders": {
      "main": [
        []
      ]
    },
    "FilterDelivered": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IgnoreNonDelivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "UpdateFieldNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateRegions": {
      "main": [
        [
          {
            "node": "SendAnalysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateFieldNames": {
      "main": [
        [
          {
            "node": "AggregateRegions",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetReportMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetReportMetadata": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "SendReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0683591d-1ed9-4550-9d54-c2cfc68bc243",
  "meta": {
    "instanceId": "1b64597dec4395c39ffbc6b418140ca74fd264cc184186212c5508ae650cb2cc"
  },
  "nodeGroups": [],
  "id": "JZ2yj5NxTuXlZVYq",
  "tags": [
    {
      "updatedAt": "2026-06-30T08:14:51.053Z",
      "createdAt": "2026-06-30T08:14:51.053Z",
      "id": "ISDYvkvm5X3tIKOA",
      "name": "n8n101"
    }
  ]
}
