Day3/Reports Generating
{
  "name": "GeneratingReports",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "392a7266-1b08-48d6-b638-895ba576f41e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        -80
      ],
      "id": "6c3ce92b-8bcd-4afe-81ba-5707fff19979",
      "name": "GetOrderData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TwS3ODLQgvpMkSop",
          "name": "n8n Quickstart Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "nIx2Fw1WVbesSpLX",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "/projects/Fh2pjA1guyRf8BRY/datatables/nIx2Fw1WVbesSpLX"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        240,
        128
      ],
      "id": "602160ed-1a37-43c0-b0e3-724846a7a4a4",
      "name": "GetCustomers"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        16
      ],
      "id": "4a774b46-641c-4c03-aa1a-829d297e6e27",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61a2af76-23bf-47e3-9c52-5b05f7e4f722",
              "name": "orderTotal",
              "value": "={{ $json.orderPrice * $json.quantity }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        16
      ],
      "id": "05949cd5-42f9-4914-b0dd-ca2375b3f1e8",
      "name": "CalculateTotal"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderTotal",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        896,
        16
      ],
      "id": "fb4e07e0-8d4e-4bf2-92f1-27af05ce6318",
      "name": "SortByTotal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ede57dda-921f-4cd4-9586-4d78847c71d3",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Europe",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1104,
        112
      ],
      "id": "7932891c-876c-4afb-ba3d-20db96e2b15a",
      "name": "EuropeOnly"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1312,
        112
      ],
      "id": "2fdbada9-f8fe-4de1-ac6a-0daf8c78f0d8",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/upload-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        112
      ],
      "id": "e047a51a-4111-41c2-9c83-1f9a209ee06f",
      "name": "UploadReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TwS3ODLQgvpMkSop",
          "name": "n8n Quickstart Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "orderTotal"
            },
            {
              "field": "orderTotal"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1104,
        -96
      ],
      "id": "d99f6cf1-7cdd-4ad3-9bbe-cea118222633",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=sum_orderTotal",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1312,
        -96
      ],
      "id": "61b44d05-fe55-4437-b4cd-edf022b359a6",
      "name": "SortSummary"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1216,
        -384
      ],
      "id": "fc0f1986-5b65-469c-bc77-4ff7fdb8bdad",
      "name": "SummaryToCSV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6de715b5-ac53-41a9-8e16-9b9dd88a3624",
              "name": "discord_message",
              "value": "=[61ab6b7329aa7d731ad0e7a5be993893] Regional Sales Summary: {{ $json.region }} - {{ $json.count_orderTotal }} orders, total: ${{ $json.sum_orderTotal.toFixed(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1536,
        -96
      ],
      "id": "589e933b-c49c-4963-8576-090ff75649bb",
      "name": "BuildDiscordMessage"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('BuildDiscordMessage').item.json.discord_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1792,
        -96
      ],
      "id": "bfe38bf9-9f29-453c-9a2c-e2f09951b253",
      "name": "SendToDiscord",
      "webhookId": "978aaa17-63ef-47f8-8584-edd655973652",
      "credentials": {
        "discordWebhookApi": {
          "id": "smHzYMIK9S62ZuWY",
          "name": "n8n Quickstart S2 Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "GetOrderData": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetOrderData",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CalculateTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateTotal": {
      "main": [
        [
          {
            "node": "SortByTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SortByTotal": {
      "main": [
        [
          {
            "node": "EuropeOnly",
            "type": "main",
            "index": 0
          },
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EuropeOnly": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "UploadReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "SortSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SortSummary": {
      "main": [
        [
          {
            "node": "BuildDiscordMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummaryToCSV": {
      "main": [
        []
      ]
    },
    "BuildDiscordMessage": {
      "main": [
        [
          {
            "node": "SendToDiscord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f039476d-e77f-4954-8393-ad1682b73ccb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b64597dec4395c39ffbc6b418140ca74fd264cc184186212c5508ae650cb2cc"
  },
  "nodeGroups": [],
  "id": "JOahTzoSZFBZBm8b",
  "tags": []
}
