hacker-news-workflow/Hacker News Workflow.json
{
  "name": "Nathan's Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        64
      ],
      "id": "60317daa-888a-4852-9d10-cdc996a3eeaf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        -160
      ],
      "id": "99893502-0236-4639-a68d-b833fc85d5a9",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "61ab6b7329aa7d731ad0e7a5be993893"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -336,
        -48
      ],
      "id": "1bdded6d-ca6a-4845-9d63-d40224b52a69",
      "name": "GetDataFromWarehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TwS3ODLQgvpMkSop",
          "name": "n8n Quickstart Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "upaa0rLdzYyCmjcT",
          "mode": "list",
          "cachedResultName": "orders",
          "cachedResultUrl": "/projects/Fh2pjA1guyRf8BRY/datatables/upaa0rLdzYyCmjcT"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "orderID",
              "keyValue": "={{ $json.orderID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderPrice",
              "displayName": "orderPrice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        416,
        -64
      ],
      "id": "97b0e1e2-f1c8-4f27-ac80-f177950070bb",
      "name": "UpsertOrders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd6d48f3-6ac2-404f-8443-9379464e603a",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3c5ca6e8-55fe-4a9b-96fe-921513b650b8",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        -48
      ],
      "id": "866604e7-834b-4061-8705-3bb146ae028c",
      "name": "CheckOrderStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae2ee106-ed2f-455f-8c7c-7c1de8cedbae",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "9b6e313e-c06d-450c-ab39-b3738246cfa1",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -64
      ],
      "id": "e7505f40-dfa5-4701-88c4-31c15adf8d07",
      "name": "SetProcessingData"
    },
    {
      "parameters": {
        "jsCode": "let items=$input.all();\nlet totalBooked=items.length;\nlet bookedSum=0;\n\nfor (let i=0;i<items.length;i++) {\n  bookedSum=bookedSum+items[i].json.orderPrice;\n}\n\nreturn [{json: {totalBooked, bookedSum}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        144
      ],
      "id": "63e29805-3d44-4f30-8e94-196cacdd6ad9",
      "name": "CalculateBookedOrders"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json.totalBooked}} booked orders with a total value of {{$json.bookedSum.round(2)}}. My Assessment ID: {{ $('GetDataFromWarehouse').params.headerParameters.parameters[0].value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        432,
        144
      ],
      "id": "332c380f-c22a-4b38-ae07-1558684eb930",
      "name": "Discord",
      "webhookId": "a9564330-d20c-4e8d-bb28-106a1dfeb7ee",
      "credentials": {
        "discordWebhookApi": {
          "id": "BQSPAldsKjH2tOms",
          "name": "n8n Quickstart S1 Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items=$input.all();\nlet totalBooked=items.length;\nlet bookedSum=0;\n\nfor (let i=0;i<items.length;i++) {\n  bookedSum=bookedSum+items[i].json.orderPrice;\n}\n\nreturn [{json: {totalBooked, bookedSum}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -240
      ],
      "id": "d6af722e-135e-4ef9-b837-08978b50c79f",
      "name": "CalculateBookedProcessingOrders"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDataFromWarehouse": {
      "main": [
        [
          {
            "node": "CheckOrderStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckOrderStatus": {
      "main": [
        [
          {
            "node": "SetProcessingData",
            "type": "main",
            "index": 0
          },
          {
            "node": "CalculateBookedProcessingOrders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalculateBookedOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingData": {
      "main": [
        [
          {
            "node": "UpsertOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedOrders": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6cd75729-4fa6-4961-aab7-91f9d25744ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b64597dec4395c39ffbc6b418140ca74fd264cc184186212c5508ae650cb2cc"
  },
  "nodeGroups": [],
  "id": "plasOT0boq076C4D",
  "tags": []
}
